[package]
name          = "yubihsm"
version       = "0.33.0" # Also update html_root_url in lib.rs when bumping this
description   = """
Pure Rust client for YubiHSM2 devices with support for HTTP and
USB-based access to the device. Supports most HSM functionality
including ECDSA, Ed25519, HMAC, and RSA.
"""
license       = "Apache-2.0 OR MIT"
authors       = ["Tony Arcieri <tony@iqlusion.io>"]
documentation = "https://docs.rs/yubihsm"
repository    = "https://github.com/iqlusioninc/yubihsm.rs"
readme        = "README.md"
categories    = ["cryptography", "hardware-support"]
keywords      = ["ecdsa", "ed25519", "hmac", "hsm", "yubikey"]
edition       = "2018"

[dependencies]
aes = "0.3"
anomaly = "0.2"
bitflags = "1"
block-modes = "0.3"
chrono = { version = "0.4", features=["serde"], optional = true }
cmac = "0.2"
getrandom = "0.1"
harp = { version = "0.1", optional = true }
hmac = { version = "0.7", optional = true }
log = "0.4"
pbkdf2 = { version = "0.3", optional = true, default-features = false }
serde = { version = "1", features = ["serde_derive"] }
serde_json = { version = "1", optional = true }
ring = { version = "0.16", optional = true, default-features = false }
rusb = { version = "0.5", optional = true }
secp256k1 = { version = "0.17", optional = true }
sha2 = { version = "0.8", optional = true }
signatory = { version = "0.19", features = ["digest", "ecdsa", "ed25519", "k256", "p256", "p384"] }
signature = { version = "1.0.1", features = ["derive-preview"] }
subtle = "2"
thiserror = "1"
tiny_http = { version = "0.7", optional = true }
uuid = { version = "0.8", default-features = false }
zeroize = { version = "1", features = ["zeroize_derive"] }

[dev-dependencies]
criterion = "0.3"
lazy_static = "1"
ring = { version = "0.16", default-features = false }
signatory-ring = "0.19"
signatory-secp256k1 = "0.19"

[features]
default = ["http", "passwords", "setup"]
http-server = ["tiny_http"]
http = ["harp"]
mockhsm = ["passwords", "ring"]
passwords = ["hmac", "pbkdf2", "sha2"]
setup = ["chrono", "passwords", "serde_json", "uuid/serde"]
untested = ["sha2"]
usb = ["rusb"]

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "ed25519"
harness = false

[[example]]
name = "connector_http_server"
required-features = ["http-server", "usb"]
