[package]
name = "yubihsm"
version = "0.40.0" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust client for YubiHSM2 devices with support for HTTP and
USB-based access to the device. Supports most HSM functionality
including ECDSA, Ed25519, HMAC, and RSA.
"""
license = "Apache-2.0 OR MIT"
authors = ["Tony Arcieri <tony@iqlusion.io>"]
documentation = "https://docs.rs/yubihsm"
repository = "https://github.com/iqlusioninc/yubihsm.rs"
readme = "README.md"
categories = ["cryptography", "hardware-support"]
keywords = ["ecdsa", "ed25519", "hmac", "hsm", "yubikey"]
edition = "2021"
rust-version = "1.56"

[dependencies]
aes = "0.7"
bitflags = "1"
block-modes = "0.8"
ccm = { version = "0.4", optional = true, features = ["std"] }
cmac = "0.6"
digest = { version = "0.10", optional = true, default-features = false }
ecdsa = { version = "0.14", default-features = false }
ed25519 = "1.3"
ed25519-dalek = { version = "1", optional = true }
hmac = { version = "0.12", optional = true }
k256 = { version = "0.11", optional = true, features = ["ecdsa", "keccak256", "sha256"] }
log = "0.4"
p256 = { version = "0.11", default-features = false, features = ["ecdsa-core"] }
p384 = { version = "0.11", default-features = false, features = ["ecdsa"] }
pbkdf2 = { version = "0.11", optional = true, default-features = false }
serde = { version = "1", features = ["serde_derive"] }
serde_json = { version = "1", optional = true }
rand_core = { version = "0.6", features = ["std"] }
rusb = { version = "0.9", optional = true }
sha2 = { version = "0.10", optional = true }
signature = { version = "1.3.2", features = ["derive-preview"] }
subtle = "2"
thiserror = "1"
time = { version = "0.3", features = ["serde"] }
tiny_http = { version = "0.11", optional = true }
uuid = { version = "1", default-features = false }
zeroize = { version = "1", features = ["zeroize_derive"] }

[dev-dependencies]
ed25519-dalek = "1"
once_cell = "1"
p256 = { version = "0.11", features = ["ecdsa"] }
rsa = "0.6"

[features]
default = ["http", "passwords", "setup"]
http-server = ["tiny_http"]
http = []
mockhsm = ["ccm", "digest", "ecdsa/arithmetic", "ed25519-dalek", "p256/ecdsa", "secp256k1"]
passwords = ["hmac", "pbkdf2", "sha2"]
secp256k1 = ["k256"]
setup = ["passwords", "serde_json", "uuid/serde"]
untested = ["sha2"]
usb = ["rusb"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "connector_http_server"
required-features = ["http-server", "usb"]
